.navbar {
    position: absolute;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.624);
    width: 100%;
}

.logo {
    max-width: 100%;
}

.navbar-nav {
    gap: 2rem;
}

.nav-link {
    font-size: 1.2rem;
}

.carousel-item {
    min-width: 100%;
    height: 50rem;
    background-color: black;
    filter: brightness(80%);
}

@media (max-width:576px) {
    .navbar {
        background-color: rgba(0, 0, 0, 0.625);
    }
    .carousel {
        display: none;
    }
}