$basic-font: 'Quicksand',
sans-serif;
$big-font: 'Fredoka One',
cursive;
$dark-font: #212529;
$light-font: rgb(255, 255, 255, .55);
$small-font: 0.8rem;
body {
    background-color: #373b3e;
    /* https://unsplash.com/photos/U3aF7hgUSrk */
    background-image: url(../../images/background-dog.png);
}

.cta {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 50%;
    padding-top: 11rem;
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #B481A9;
}

.cta-text-box {
    display: grid;
    font-family: $basic-font;
    color: $dark-font;
    padding: 2rem 2.2rem 2rem 2.2rem;
    margin: 0 auto;
    text-align: left;
    background-color: #81b48cac;
    border-radius: 10px;
}

.cta-heading {
    font-family: $big-font;
}

form {
    margin: auto;
    padding: 0 2rem;
}

label {
    padding: 0.7rem 0 0.2rem 0;
    font-weight: bold;
}

input {
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 11fr;
    text-align: left;
    padding-top: 1.5rem;
    gap: 1rem;
    label {
        font-size: 1rem;
    }
}

#checkbox {
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 50%;
}

.btn {
    background-color: #B481A9;
    color: $light-font;
    margin: 1.5rem 5rem;
}

.btn:hover {
    background-color: #c39aba;
}

.forgotten-password {
    font-size: 1rem;
}

div+p {
    color: $light-font;
    font-size: $small-font;
    margin: 0.2rem 0;
}

p~p {
    padding: 0;
    font-size: $small-font;
    margin-bottom: 0.2rem;
}

a {
    color: $dark-font;
}

a:hover {
    color: white;
}

@media (min-width: 1921px) {
    body {
        background-image: none;
    }
    .rest-container {
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        color: white;
        font-size: 2rem;
    }
    .btn-lg {
        font-family: $basic-font;
        font-size: 1.5rem;
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        position: relative;
        background-color: rgba(128, 128, 128, 0.624);
    }
    .cta {
        padding-top: 3rem;
        max-width: 100%;
    }
    .cta-text-box {
        padding: 0.5rem 0.2;
    }
    form {
        padding: 0;
    }
    .checkbox-grid {
        label {
            font-size: 1rem;
        }
    }
    #checkbox {
        height: 1.5rem;
        width: 1.5rem;
    }
    .btn {
        margin: 1.5rem 0;
    }
}


/* JAVASCRIPT RELATED CSS */

.rest-container {
    text-align: center;
    max-width: 30rem;
    height: 20rem;
    margin: 0 auto;
}

.active {
    display: none;
}

.print-text {
    font-family: $big-font;
    font-size: 1.2rem;
}

.print-img>img {
    max-width: 70%;
    border-radius: 10px;
}

.btn-lg {
    font-family: $basic-font;
}