        /* MIXINS */
        
        @mixin theme($theme: #f9eaea) {
            background: $theme;
            box-shadow: 0 0 1px rgba($theme, .25);
            color: #333;
            .slider-btn {
                background-color: white;
            }
        }
        /* VARIABLES */
        
        $box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
        $basic-font: 'Quicksand',
        sans-serif;
        $big-font: 'Fredoka One',
        cursive;
        /* SCSS STARTS */
        
        html {
            scroll-behavior: smooth;
        }
        
        #header {
            font-family: $big-font;
        }
        
        .navbar {
            position: absolute;
            z-index: 1;
            background-color: rgba(128, 128, 128, 0.624);
            width: 100%;
            font-family: $basic-font;
        }
        
        .logo {
            max-width: 100%;
        }
        
        .navbar-nav {
            gap: 2rem;
            li {
                list-style-type: none;
            }
        }
        
        .nav-link {
            font-size: 1.2rem;
        }
        
        .dropdown-menu.show {
            display: flex;
            padding: 1.5rem;
            box-shadow: $box-shadow;
            border-radius: 10px;
            border: transparent;
            background-image: url("/images/tree_bark.png");
            ul {
                padding: 1rem;
                text-align: left;
                width: 100%;
            }
        }
        
        .dropdown-item {
            padding: 0.5rem 2rem 0.5rem 1.2rem;
            text-align: left;
        }
        /* doesn't work anymore if nested with above, bug? */
        
        .dropdown-item:hover {
            background-color: transparent;
            text-decoration: underline;
        }
        
        .dropdown-img {
            display: flex;
            border-radius: 10px;
        }
        
        .carousel-caption {
            z-index: 1;
            position: absolute;
            text-align: center;
            margin-bottom: 33rem;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.12);
            box-shadow: $box-shadow;
            backdrop-filter: blur(4px);
            font-family: $basic-font;
        }
        
        .carousel-item {
            background-color: black;
            filter: brightness(80%);
        }
        /* MANUAL CAROUSEL */
        
        .grid-header {
            font-family: $big-font;
            text-align: center;
            padding: 3rem 0 3rem 0;
        }
        
        .container-fluid {
            text-align: center;
            overflow: hidden;
            padding-bottom: 3rem;
        }
        
        .slider-wrap {
            position: relative;
            overflow: hidden;
            height: 20rem;
            margin: auto;
        }
        
        .slider-main {
            position: absolute;
            width: 100%;
            text-align: center;
        }
        
        .item {
            width: 10rem;
            display: inline-block;
            position: relative;
            margin: 1rem;
            transition: 0.4s;
            margin-right: 5rem;
            margin-left: 5rem;
            height: 19rem;
        }
        
        .text {
            overflow: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            color: white;
            font-weight: bolder;
            border-radius: 50%;
            img {
                display: block;
                width: 220px;
                box-shadow: rgba(0, 0, 0, 0.313) 0px 5px 15px, rgba(0, 0, 0, 0.461) 0px 6px 6px;
                transition: all 0.4s;
            }
            img:hover {
                transform: scale(1.1);
            }
        }
        
        .slider-btn {
            padding-bottom: 3rem;
            background-color: #f9eaea;
            border: none;
            outline: none;
            font-size: 2rem;
            border-radius: 50%;
            padding: 0.5rem 1rem;
            transition: 0.4s;
             :hover {
                color: gray;
            }
        }
        
        .indoors {
            @include theme;
        }
        
        .abc {
            background-image: url(/images/hoodie.jpg);
            background-size: cover;
        }
        /* MEDIA QUERIES */
        
        @media (max-width:1440px) {
            .carousel-caption {
                margin-bottom: 20rem;
            }
            .container {
                width: 100%;
            }
        }
        
        @media (max-width:1199px) {
            .carousel-caption {
                margin-bottom: 12rem;
            }
        }
        
        @media (max-width:991px) {
            html {
                font-size: 90%;
            }
            .carousel-caption {
                margin-bottom: 10rem;
                padding: 0.7rem;
                #header {
                    font-size: x-large;
                }
            }
            .dropdown-menu.show {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            .dropdown-item {
                padding: 0.5rem 2rem 0 1.2rem;
            }
            .dropdown-img {
                width: 95%;
                margin-top: 1rem;
            }
        }
        
        @media (max-width:576px) {
            .active {
                padding-top: 2rem;
            }
            .navbar {
                background-color: rgba(0, 0, 0, 0.625);
                position: relative;
            }
            .navbar-nav {
                display: block;
            }
            .carousel {
                display: none;
            }
            .dropdown-img {
                display: none;
            }
        }